* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
mvnw text eol=lf
mvnw.cmd text eol=crlf
.mvn/wrapper/maven-wrapper.properties text eol=lf
Dockerfile text eol=lf
.env.example text eol=lf
.dockerignore text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
